.xylophone-key-C1{
  height:400px;
}
.xylophone-key-D1{
  height:375px;
}
.xylophone-key-E1{
  height:350px;
}
.xylophone-key-F1{
  height:325px;
}
.xylophone-key-G1{
  height:300px;
}
.xylophone-key-A2{
  height:275px;
}
.xylophone-key-B2{
  height:250px;
}
.xylophone-key-C2{
  height:225px;
}
.xylophone-key-D2{
  height:200px;
}
.xylophone-key-E2{
  height:175px;
}
.xylophone-key-F2{
  height:150px;
}
